/** New Skills Icon */
div.listElementNumberLine i.fa-bookmark.newSkills {
    color: #2185d0;
}

/** Existing Skills Icon */
div.listElementNumberLine i.fa-bookmark.existingSkills {
    color: #f2711c;
}

button.newSkill {
    color: #2185d0;
    border-color: #2185d0;
    margin: 3px;
    --bs-btn-active-bg: #2185d0;
    --bs-btn-active-color: white;
    --bs-btn-active-border: white;
}

button.newSkill:hover {
    background-color: white;
    color: #2185d0;
    border-color: #2185d0;
}

button.existingSkill {
    color: #f2711c;
    border-color: #f2711c;
    margin: 3px;
    --bs-btn-active-bg: #f2711c;
    --bs-btn-active-color: white;
    --bs-btn-active-border: white;
}

button.existingSkill:hover {
    background-color: white;
    color: #f2711c;
    border-color: #f2711c;
}